<div class="wrapper">
  <nav id="sidebar" [ngClass]="{'active': isSidebarActive}">
    <!-- Sidebar Header -->
    <div class="sidebar-header">
      <h3>Hello</h3>
    </div>

    <!-- Sidebar Links -->
    <ul class="list-unstyled components">
      <li routerLinkActive="active">
        <a [routerLink]="'/dashboard'">dashboard</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="'/user'">users</a>
      </li>
    </ul>
  </nav>

  <div id="content">
    <nav class="navbar">
      <button type="button" class="btn toggle-button" (click)="toggleSidebar()">
        <i class="fa fa-align-justify"></i>
      </button>
    </nav>

    <router-outlet></router-outlet>
  </div>
</div>