<div class="sidebar">
  <ul>
    <li>
      <a [routerLink]="['/dashboard']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <fa name="desktop" class="icon"></fa>
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/user']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Users</a>
    </li>
    <li>
      <a [routerLink]="['/about']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">About</a>
    </li>
  </ul>
</div>